body {
    padding: 0;
    margin: 0;
}
.ui-select-toggle{display:flex;justify-content:space-between;}
.ui-select-match-text{overflow-x:hidden; text-overflow:ellipsis;}

#journey-information > p {
    font-size: 135%;
}

#map {
    height: 80vh;
}

.error {
    color: red;
    font-weight: bold;
}